<uL><h1>History</h1></uL>
<div>
<ul ng-repeat="notification in notifications | filter : {inHistory : true}">
	  <div>Name: {{ notification.name }}</div>
		<div>Description: {{ notification.description }}</div>
		<div>Servings: {{ notification.servings }}</div>
		<div>Dish Return Terms: {{ notification.returnTerms }}</div>
		<div>Allergens: {{ notification.allergens }}</div>
 		<div>Good until: {{ notification.lifespan }}</div> 
 		<div>Donated by: {{ notification.createdbyName }}</div>
		<div><textarea rows="4" columns="30" class="add-form" id="review" ng-model="notification.review">
	</textarea>
		<button class="btn button btn-success" ng-click="reviewTransaction(notification)">Post Review</button>
	  </ul>
