<section id="add-form-box">
<div class="add-meal-title"><ul><h3>Add a meal to the Big Fridge</h3></div></ul>
	<section ng-controller="AddMealCtrl">
	<div>
		<ul><input type="text" class="add-form" id="meal-name" placeholder="Name of the dish" ng-model="newMeal.name" size="40">
	</div>
	<div>
		<ul><input type="text" class="add-form" id="meal-description" placeholder="Brief description" ng-model= "newMeal.description" size="40">
	</div>
	<div>
		<ul><input type="text" class="add-form" id="meal-servings" placeholder="How many servings?" ng-model="newMeal.servings" size="40">
	</div>
	<div>
		<ul><input type="text" class="add-form" id="meal-dish-return" placeholder="Container return terms" ng-model="newMeal.returnTerms" size="40">
	</div>
	<div>
		<ul><input type="text" class="add-form" id="meal-allergens" placeholder="Any allergens?" ng-model="newMeal.allergens" size="40">
	</div>
	<div>
		<ul><input type="text" class="add-form" id="meal-lifespan" placeholder="Expy date" ng-model="newMeal.lifespan" size="40">
	</div>
	<ul><button class="btn btn-warning" id="push-meal"<button ng-click="addMeal()">Post meal</button></ul>
	<ul><div id="success-box"></div></ul>
	</section>
	</section>
